body{
    background:black;
}
section{
    background: #f5f0e3;
    margin: auto;
    padding: 30px;
    width: 615px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.74);
}
h1{
    font-weight: bolder;
}
.red{
    color: red;
}

table#table01{
    text-align: justify;
    width: 100%;
    
}
th#th01{
    color: red;
}
hr{
    width: 100%;
    height: 1px;
    background-color: black;
}